<h2>Large Language Model (LLM)</h2>

<ul>
  <li>A large language model (LLM) is a type of machine learning model that uses deep learning techniques and massively large data sets to understand, summarize, generate, and predict new content</li>

  <li>They are trained using self-supervised and semi-supervised learning and can contain tens of millions and up to billions of weights</li>

  <li>LLMs can perform various natural language processing tasks such as generating and classifying text, answering questions in a conversational manner, and translating text from one language to another. The label "large" refers to the number of values (parameters) the model can change autonomously as it learns</li>

  <li>LLMs use a type of deep neural network to generate outputs based on what they have learned from training data</li>
</ul>
