<h1>Thanks!</h1>

<p>Code, slides and notes are here:</p>
<ul>
  <li><a href="https://github.com/gclssvglx/ai-for-ruby-devs">https://github.com/gclssvglx/ai-for-ruby-devs</a></li>
</ul>


<p>Gems, extension and GDS Way here:</p>
<ul>
  <li><a href="https://gds-way.cloudapps.digital/">https://gds-way.cloudapps.digital/</a></li>
  <li><a href="https://github.com/alexrudall/ruby-openai">https://github.com/alexrudall/ruby-openai</a></li>
  <li><a href="https://github.com/ankane/neighbor">https://github.com/ankane/neighbor</a></li>
  <li><a href="https://github.com/pgvector/pgvector">https://github.com/pgvector/pgvector</a></li>
</ul>
