<h2>What can we do about this?</h2>

<ul>
  <li><strong>Use an un-trained LLM</strong> - and train it on our own content</li>
  <li><strong>Use a pre-trained LLM</strong> - but we tell it what we want, how to respond and give it the context on which to base it's answer</li>
</ul>
