<h2>Why custom content?</h2>

<ul>
  <li>LLMs are trained on internet content</li>
  <li>The internet is full of: bias, misinformation, and fake content - this can creep into the LLMs responses</li>
  <li>LLMs can "hallucinate"</li>
</ul>
