<h2>Embeddings and Vectors</h2>

<p>To find the content most likely to answer our question, we need to search for content that sort-of matches it:</p>

<ul>
  <li>Get your content (in our case a set of Markdown files)</li>
  <li>Create an embedding - Vectorised form - of that content - basically an array of numbers</li>
  <li>Stuff the content and the embeddings into a Vector-enabled database</li>
  <li>Create an embedding for our question</li>
  <li>Search the Vector database for the nearest matches - or neighbours</li>
</ul>
