<h2>Embeddings</h2>

<p>OpenAI’s text embeddings measure the relatedness of text strings. Embeddings are commonly used for:</p>

<ul>
  <li>Search (where results are ranked by relevance to a query string)</li>
  <li>Clustering (where text strings are grouped by similarity)</li>
  <li>Recommendations (where items with related text strings are recommended)</li>
  <li>Anomaly detection (where outliers with little relatedness are identified)</li>
  <li>Diversity measurement (where similarity distributions are analyzed)</li>
  <li>Classification (where text strings are classified by their most similar label)</li>
  <li>An embedding is a vector (list) of floating point numbers. The distance between two vectors measures their relatedness. Small distances suggest high relatedness and large distances suggest low relatedness</li>
</ul>
