<h2>Some terminology!</h2>

<ul>
  <li><strong>Generative AI</strong> - application of Machine Learning (ML) related to new content generation</li>
  <li><strong>Large Language Model (LLM)</strong> - an ML model uses Deep Learning, Natural Language Processing (NLP) and very large data sets to understand, summarise, generate and predict new content</li>
  <li><strong>Vector</strong> - an array of floats created by applying Language Modeling to text</li>
  <li><strong>Embeddings</strong> - a measure of relatedness by diffing 2 Vectors
    <ul>
      <li>Small difference == high relatedness</li>
      <li>Large difference == low relatedness</li>
    </ul>
  </li>
</ul>
